.BookDetailsImage {
  height: 200px;
}

.CommentAvatar {
  width: 10px;
}

.UserHeader {
  background-color: darkgoldenrod;
  text-align: center;
}

.UserAvatarGroup {
  background-color: orange;
  float: left;
  text-align: center;
  margin-left: 30px;
  margin-right: 10px;
}

.UserAvatarName {
  font-weight: bold;
  font-size: 25px;
}

.UserInfoGroupWithButton {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  background-color: green;
  margin-left: 10px;
  margin-right: 10px;
}

.UserInfoGroup {
  display: inline-block;
  text-align: center;
  background-color: blue;
}

.UserInfo {
  float: left;
  background-color: red;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.UserInfoTitle {
  font-weight: bold;
  font-size: 25px;
}

.UserInfo > p {
  margin: 0px;
}